[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_experimental=enabled
insert_final_newline = true
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than=unset

[*.kt]
ktlint_function_naming_ignore_when_annotated_with=Composable,Preview
